---
layout: base
headline: talk
---
{% from "components/button.njk" import button %}
{% from "components/container.njk" import container %}
{% from "components/accordion.njk" import accordion %}
{% from "components/input.njk" import input %}
{% from "components/textarea.njk" import textarea %}



<main
    x-data="{
        neighborhood: null,
        params: new URLSearchParams(window.location.search),
        setNeighborhood () {
            const value = this.params.get('neighborhood')
            this.neighborhood = value ? value : null
        }
    }"
    x-init="setNeighborhood"
    class="w-full grow">
    <section class="my-12 sm:my-section" id="hero-section">
        {% include "sections/heroSection.njk" %}
    </section>

    <section class="my-12 sm:my-section" id="faq-section">
        {% include "sections/faqSection.njk" %}
    </section>

    <section class="mt-section" id="contact-section">
        {% include "sections/contactSection.njk" %}
    </section>
</main>

<footer class="w-full py-6 text-sm text-center">
    {# <p>Web design and development by {{ button({label:"Chicago Design Cooperative", type:"link", size:"inherit"},{href:"/", target:"_blank", class:"inline-block"}) }}</p> #}
    <p>Web design and development by Chicago Design Cooperative</p>
</footer>
