---
layout: base
---
{% from "components/button.njk" import button %}
{% from "components/container.njk" import container %}
{% from "components/accordion.njk" import accordion %}
{% from "components/input.njk" import input %}
{% from "components/textarea.njk" import textarea %}



<main class="flex flex-col w-full gap-section pt-section grow">
    {% call container({},{id:"hero-section", class:"justify-items-center text-center gap-12 md:gap-16"}) %}
        {% include "sections/hero.njk" %}
    {% endcall %}

    {% call container({},{id:"faq-section", class:"justify-items-center gap-12 border-t-2"}) %}
        {% include "sections/faq.njk" %}
    {% endcall %}

    {% call container({},{id:"contact-section", class:"gap-8 justify-items-center"}) %}
        {% include "sections/contact.njk" %}
    {% endcall %}
</main>

<footer class="py-6 md:py-8 w-full text-center text-sm">
    <p>Web design and development by {{ button({label:"Chicago Design Cooperative", type:"link", size:"inherit"},{href:"/", target:"_blank", class:"inline-block"}) }}</p>
</footer>
