{{ accordion(
    props={
        accordionItems: [{
            title: "What is this?",
            description: "Placeholder",
            isOpen: false
        },{
            title: "Why are you offering this?",
            description: "Placeholder"
        },{
            title: "Does it cost money?",
            description: "Placeholder"
        },{
            title: "Will you keep our secrets?",
            description: "Placeholder"
        },{
            title: "Do we have to be bisexual?",
            description: "Placeholder"
        }]
    },
    attrs={class:"w-full"}
) }}
