{{ accordion(
    props={
        accordionItems: [{
            title: "What is this?",
            description: "I went through it *myself* and my relationship(s) have survived and been deepened! I wish I would have had peers to talk to and learn from at the time! I can share my experiences and hindsights with you! I am not a therapist, just a neighbor who has had a similar experience!",
            isOpen: true
        },{
            title: "Why are you doing this?",
            description: ""
        },{
            title: "Does it cost money?",
            description: ""
        },{
            title: "Will you keep our secrets?",
            description: ""
        },{
            title: "Do we have to be bisexual?",
            description: ""
        }]
    },
    attrs={class:"w-full"}
) }}
