{% call container({},{class:"justify-items-center gap-12 border-t-2"}) %}

    {{ accordion(
        props={
            accordionItems: frequentlyAskedQuestions.faq
        },
        attrs={class:"w-full"}
    ) }}
{% endcall %}
