{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set _componentTemplateMeta = {
    args: '{% call _componentTemplate(
    props={
        input: "",
    },
    attrs={}
) %}
{% endcall %}',
description: "
-
-
-
"
} %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro _componentTemplate(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set value %}

{% endset %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div
    {% include "snippets/loopAttrs.njk" %}
    class="{{ attrs.class }}">
    {# content #}
</div>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% endmacro %}
