{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set accordionMeta = {
args: '{{ accordion(
    props={
        accordionItems: [{
            title: "",
            description: "",
            isOpen: false
        }]
    },
    attrs={}
) }}'
} %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro accordion(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

<style>
    summary:hover > h2 {
        text-decoration: underline;
    }
    summary::-webkit-details-marker { display: none }
</style>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div data-accordion {% include "snippets/loopAttrs.njk" %} class="flex flex-col {{attrs.class}}">
    {% for item in props.accordionItems %}
        <details {% if item.isOpen %}open{% endif %} class="w-full group border-b-2 border-dark-grey">
            <summary class="flex text-lg justify-between items-center gap-4 py-5 cursor-pointer appearance-none">
                    <h2 class="underline-offset-3 decoration-from-font">{{ item.title }}</h2>
                    <span class="block text-icon group-open:hidden">&plus;</span>
                    <span class="hidden text-icon group-open:block">–</span>
            </summary>

            <section class="pb-6 text-base max-w-narrow">
               {{ item.description | safe }}
            </section>
        </details>
    {% endfor %}
</div>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% endmacro %}
