{% macro markdown(props={}, attrs={}) %}
    <div
        {% include "snippets/loopAttrs.njk" %}
        style="
            {% if props.fontSize %}--md-font-size: var(--{{ props.fontSize }});{% endif %}
            {% if props.fontSize %}--md-line-height: var(--{{ props.fontSize }}--line-height);{% endif %}
            {% if props.primaryColor %}--md-primary-text-color: var(--{{ props.primaryColor }});{% endif %}
            {% if props.linkColor %}--md-link-color: var(--{{ props.linkColor }});{% endif %}
            {% if props.radius %}--md-radius: var(--{{ props.radius }});{% endif %}
            {% if props.headingFont %}--md-headingFont: var(--{{ props.headingFont }});{% endif %}
            {% if props.scale %}--md-scale: {{ props.scale }};{% endif %}
        "
        class="markdown {{ attrs.class }}">
        {% if props.content %}
            {% if props.transform === true %}
                {{ props.content | markdownify | safe }}
            {% else %}
                {{ props.content | safe }}
            {% endif %}
        {% endif %}
        {% if caller %}
            {% if props.transform === true %}
                {{ caller() | markdownify | safe }}
            {% else %}
                {{ caller() | safe }}
            {% endif %}
        {% endif %}
    </div>

    {% if props.customStyles %}
        <style>
            .markdown {
                {{ props.customStyles }}
            }
        </style>
    {% endif %}
{% endmacro %}
